.navbar{
    display: flex;
    align-items: center;
    height: 4rem;
    background-color: var(--primary);
    justify-content: space-between;
    padding: 1em;
    margin-bottom: 0.5rem;
}

.navbar h1{
    font-size: 1.2em;
    color: var(--light);
}

.right{
    display: flex;
    gap: 0.5em;
    padding-right: 0.5rem;
    color: var(--light);
}

.right .icon{
    font-size: 1rem;
    cursor: pointer;
}

.right .icon:hover{
    font-size: 1.2rem;
    color: var(--secondary);
}